@use "variables" as v;
@use "mixins" as m;
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }



.wallpapers{
    background-color: v.$black;
       color: v.$white;
     
       width: 100%;
       max-width: 1100px;
           display: grid;
          grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
           gap: 20px;

    &__imgc{
        width: 100%;
        object-fit: cover;
    }
}



.enemies{
    background-color: v.$black;
    color: v.$white;
    display: flex;
    flex-direction: column;
       text-align: center;
}


@media (min-width:600px){
    .enemies{
        &__center{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}



.mystery{
background-color: v.$black;
color: v.$white;
    &__img{
        width: 100%;
   
    }
}




.characters{
    background-color: v.$black;
    color: v.$white;
    &__flex{
        
        @include m.flex();
        display: grid;
        grid-template-columns:repeat(2, 1fr) ;
        grid-template-rows: repeat(4,100px);
     margin-bottom: 20px;
    }
      &__id{
    
    
            color: v.$id;
        text-decoration: none;
      
        &:hover{
            color: v.$link;
        }
    
   
    }
   &__h2{
    text-align: center;
    height: 100px;
    animation: color 1000ms infinite alternate;

   }
    &__div{
        @include m.div();
    }
    &__div-reverse{
        @include m.div();
    }
}

@keyframes color {
    0%{color: red;
    font-size: 20px;
}

    100%{color:pink;
        font-size: 40px;
    }
  
    }


@media (min-width:600px){
    .characters{
    
        &__h2{
            height: 50px;
        }
    
    
        &__div{
            display: flex;
            flex-direction: row;
        }
        &__div-reverse{
            display: flex;
            flex-direction: row-reverse;
        }

        &__img{
           object-fit: cover;
        }
    }

}



.home{
    background-color: v.$black;
    &__img{
        width: 100%;
      
    }
    &__paragraph{
        color: v.$white;
    }
}



.navbar{ 
    &__img{
        width: 100px;
        height: 100px;
    }

}

.container-fluid{
    background-color: v.$container-fluid;
    font-weight: 700; 
 
}
.footer{
    background-color: v.$black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
   &__a{
    
    color: v.$white;
    margin: 0 20px 0;
    &:hover{
        color: v.$footer;
    }
   }
}